.separator {
  border: none;
  height: 1px;
  background-color: var(--gray);
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  font-family: 'Lato', sans-serif;
}

.infoTitle {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: .2px;
}

.infoText {
  color: #212121;
  font-size: 1.05em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .9em;
  padding: 1em 0;
}

.cardWrapper {
  cursor: pointer;
  border-radius: 8px;
  transition: 300ms;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.cardContent {
  padding: 10px;
}

.cardWrapper:hover {
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  transform: scale(1.01);
}

.card img {
  border-radius: 10px 10px 0 0;
}

.card h2 {
  font-size: 1em;
  color: #161616;
  font-weight: 600;
}

.card h3 {
  font-size: .9em;
  font-weight: 600;
}

.cardPrice b {
  color: #5CA720;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.8em;
    align-items: space-between;
  }

  .cardWrapper h2 {
    font-size: 1.8em;
    font-weight: 400;
    color: #212121;
  }

  .card h3 {
    font-size: 1.3em;
  }
}