.navbar {
  width: 100%;
  height: 90px;
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
  z-index: 100;
}

.navbarContainer {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarBrand {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #161616;
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}

.navbarLinks {
  display: flex;
  align-items: center;
  color: #5CA720;
}

.navItem{
  list-style: none;
  margin-left: 1.05em;
  font-size: 1.2em;
  cursor: pointer;
}

.navItem a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.cartWrapper {
  border: 1px solid #5CA720;
  padding: 0 5px;
  border-radius: 5px;
}

.cartWrapper svg {
  margin-right: 5px;
}

.cartMenu {
  /* width: 300px; */
  /* width: 100%; */
  /* background-color: #fafafa; */
  /* top: 90px; */
  /* right: 0px; */
  /* bottom: 0; */
  /* height: 100%; */
  /* position: absolute; */
  /* position: fixed; */
  /* overflow-y: scroll; */
  /* overflow-y: auto; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 100%;
  width: 100%;
  min-height: calc(100vh - 90px);
  /* position: fixed; */
  position: absolute;
  right: 0;
  top: 90px;
  overflow-y: auto;
  background-color: #fafafa;
}

.cartItem {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.24);
  padding: 1em;
  margin: 20px 10px;
  border-radius: 10px;
}

.totalPrice {
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid #c1c1c1;
}

@media screen and (min-width: 600px) {
  .cartMenu {
    width: 50%;
    max-width: 300px;
  }
}